h1{
    color:red;
    margin-bottom: 0px;
    margin-top: 10px;
    }

h2{
    color:red;
    margin-bottom: 10px;
    margin-top: 10px;
    }

h3{
    color:red;
    margin-bottom: 10px;
    margin-top: 10px;
    }