// 1. IMPORTATION GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Montserrat:wght@700;800;900&display=swap');

// 2. VARIABLES (Pour changer partout d'un seul coup plus tard)
$font-titles: 'Montserrat', sans-serif;
$font-body: 'Inter', sans-serif;
$color-black: #1a1a1a; // Un noir plus élégant que le noir pur

// 3. APPLICATION GLOBALE
body {
    font-family: $font-body;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

// 4. TES TITRES (CORRIGÉS ET STYLISÉS)
h1 {
    font-family: $font-titles;
    color: $color-black; // Remplacé le rouge par le noir
    font-weight: 900;
    font-size: 3rem;     // Impact fort pour le titre principal
    margin-bottom: 0px;
    margin-top: 10px;
}

h2 {
    font-family: $font-titles;
    color: $color-black; // Remplacé le rouge par le noir
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

h3 {
    font-family: $font-titles;
    color: $color-black; // Remplacé le rouge par le noir
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
}