/* --- MISE EN PAGE GLOBALE --- */






.etat-civil {
background-color: LIGHTgreen;
padding: 20px;

}



.deux-blocs {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blocs-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor:pointer;

}

/* --- BREAKPOINT UNIQUE : 800px --- */
@media (min-width: 800px) {
    .deux-blocs {
        flex-direction: row;
    }

    .blocs-introduction {
        flex-direction: row;
    }
}