/* --- MISE EN PAGE GLOBALE --- */

.container {
    margin: 0 auto;
    padding: 10px 25px;
    width: 100%;
}

section {
    padding: 0px 0;
}

.intro {
    text-align: center;
    background-color: red;
}

.deux-blocs {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blocs-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 25vh;
}

/* --- BREAKPOINT UNIQUE : 800px --- */
@media (min-width: 800px) {
    .deux-blocs {
        flex-direction: row;
    }

    .blocs-introduction {
        flex-direction: row;
    }
}